@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

#event-wrapper{
    display: flex;
}

#calendar-wrapper{
    width: 50%;
    margin: 1.25rem;
}

#event-menu-wrapper{
    width: 45%;
    margin: 1.25rem;
}